.menu-container {
    display: flex;
    justify-content: center;
}

.menu {
    /* border: 3px solid red; */
    border-radius: 7px;
    justify-content: space-between;
    padding: 3px;
    display: flex;
    width: 30rem;
    color: rgb(138, 72, 5);
    margin: -10px;
}

.menu a {
    font-weight: bold;
    border: 2px solid peru;
    border-radius: 3px;
    background: peachpuff;
    padding: 3px;
    cursor: pointer;
}