body {
    background: #9CECFB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #0052D4, #65C7F7, #9CECFB);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #0052D4, #2ECC71, #9CECFB);
    /* Green instead of light blue */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
    padding: 0;
}

.svg-container {
    width: 50vw;
    display: flex;
    flex-grow: 1;
    height: 100vh;
    flex-direction: column;
}

#svg-piechart {
    height: 100vh;
}

.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.siginin-signup-container {
    display: flex;
    height: 50vh;
    width: 50vw;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 10%;
}

.typewriter {
    color: white;
    font-size: x-large;
    font-weight: 600;
    font-style: italic;
}