@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: montserrat;
    font-optical-sizing: auto;
}

.dashboard-container {
    border: 5px solid peru;
    height: 100vh;
    margin: 5px;
    border-radius: 5px;
    padding: 6px;
}

.dashboard-container-heading {
    text-align: center;
    font-size: 40px;
}