.history-container {
    max-height: 170px;
    /* Adjust the height as needed */
    overflow-y: auto;
}

.expense-table {
    width: 100%;
    border-collapse: collapse;
}

.expense-table th,
.expense-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.expense-table th {
    background-color: #f2f2f2;
    text-align: left;
}

.expense-table tr:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.owed-row {
    background-color: #d0e1ff;
    /* Light blue for owed */
}

.owing-row {
    background-color: #ffe6cc;
    /* Light orange for owing */
}

.dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown ul li {
    padding: 5px 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-top: -1px;
    /* Prevents double border */
}

#scroll-sentinel {
    height: 1px;
}